@import url("../fonts/StarJedi.css");
@import url("../fonts/FranklinGothicBook.css");
@import url("../fonts/FranklinGothicMedium.css");

/* BODY */

body, html {
    margin: 0;
    padding: 0;
}

/* BACKGROUND */

#background-container #background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
}

#background-container #scrim {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -100;
}

/* HEADER */

#header #title {
    margin: 16px auto 8px auto;
    display: block;
}

#header #subtitle1, #header #subtitle2 {
    color: #FFD83A;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;

    margin-top: 8px;
    margin-bottom: 8px;
}

#header #subtitle1 {
    font-size: 32px;
}

#header #subtitle2 {
    font-size: 24px;
}

/* MAIN */

#main {
    position: absolute;
    top: 0%;
    bottom: 0%;
    width: 100%;

    padding-top: 231px;
    padding-bottom: 90px;
}

/* PAGER */

#pager {
    width: 100%;
    height: 100%;
}

#pager .pager-item {
    display: none;
}

#pager .selected {
    display: initial;
}

#pager .pager-item * {
    opacity: inherit;
}

/* PAGER IFRAMES */

#pager article {
    width: 100%;
}

#pager .embedded {
    display: block;
    height: 100%;
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}

/* NAV */

#nav {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

#nav #list {
    list-style: none;
    white-space: nowrap;
    
    display: inline-block;
    margin: 0;
    padding: 0;
}

#nav #list .list-item {
    color: #FFD83A;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    border: #FFD83A solid 2px;

    font-size: 32px;
    line-height: 56px;
    vertical-align: middle;
    display: inline-block;
    height: 56px;
    width: 256px;
    margin: 0 8px 0 8px;

    transition: all 0.2s ease;
}

#nav #list .selected {
    font-size: 40px;
    line-height: 64px;
    height: 64px;
    width: 320px;
}

/* FOOTER */

#footer {
    margin-top: 32px;
    margin-bottom: 16px;
}

#footer #by {
    color: #FFD83A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/* GLOBAL */

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    cursor: default;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadein {
    animation: 500ms fadein ease;
    opacity: 1;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeout {
    animation: 500ms fadeout ease;
    opacity: 0;
}
